@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  height: 100vh;
  width: 100%;
}

/* ! HEADER */
.nav-bar{
  padding: 18px 0 48px 28px;
  background: linear-gradient(#fff 5%, #BF8B2D );
  display: flex;
  align-items: center;
  justify-content: space-around ;
}

.logo{
  height: 45px;
}

.link-header{
  font-weight: 600;/*negrito*/
  font-size:25px;/*tamanho fonte*/
  color: #989d9c;
  cursor: pointer;
  text-decoration: none;/*tirar a linha de baixo*/
  margin-right: 23px;/*espaçamento externo a direita */
}

.linkbtn{
  font-weight: 500;/*negrito*/
  font-size: 25px;/*tamanho fonte*/
  color: #000;
  cursor: pointer;
  text-decoration: none;/*tirar a linha de baixo*/
}

.button-header {
  background-color: #fff;
  box-shadow: 3.5px 3.5px 10px #000;
  border-radius: 1.281rem;
  width: 162px;
  height: 40px;
  border: none;/*tirando a borda do botão*/
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
  transition: .5s;
}

.button-header:hover{
  box-shadow: 7px 7px 3.5px #000;
}

.banner {
  width: 100%;
  height: 400px;
/*adiciona uma imagem interna ou externa*/
  background-image: url(./assets/ODS12-header.png);
  background-size: cover;/*deixa a imagem preencher todo o     container sem cortá-la*/
  margin-bottom: 60px;
}

/* ! FIM HEADER
! COMEÇO MAIN CONTENT */

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 85px; */
  padding: 100px;
  width: 100%;
}

h1{
  font-size: 50px;
  font-weight: 700;
}

p{
  font-size: 25px;
}

/* CONTENT 1 */
.content-1{
  display: flex;
  height: 50vh;
  margin-bottom: 50px;
  margin-top: 80px;
}
.conteudo{
  margin: 0 45px;
}

.content-1 p{
  font-weight: 400;
  line-height: 29px;
  width: 500px;
  margin-top: 32px;
  text-align: center;
}

.consumo1{
  height: 400px;
}

/* fim */

/* CONTENT 2 */

.conteudo2{
  margin: 30px;
}

/* .content-2 p{
  font-weight: 400;
  line-height: 29px;
  margin: 16px 16px 0 0;
} */

/* CONTENT 3 */

.content-3{
  display: flex;
  height: 60vh;
  margin: 50px 0;
  align-items: center;
}

.content-3 p{
  font-weight: 400;
  line-height: 29px;
  width: 80%;
  margin-top: 32px;
}

.pgrs{
  height: 350px;
  margin-right: 100px;
}

/* CONTENT 4 */
.content-4{
  margin-bottom: 50px;
}

.content-4 p{
  font-weight: 400;
  line-height: 29px;
  width: 70%;
}
/* fim content 4 */

/* VIDEO */

#trailer-container{
  width: 100%;/*Largura*/
  display: flex;/*serve para colocar os elemento lado a lado 
  mas nesse momento utilizado para alinhar o itens com justify-content*/
  justify-content: center;/*alinhar os elementos ao centro*/
  margin: 100px 0;
  margin-left: 58px;
}

.video {
  width: 90%;/*deixando o nosso container com total de 60%*/
  display: flex;/*colocando os elementos lado a lado*/
  align-items: center;/*ajusta verticalmente*/
  justify-content: space-between;/*espaçamento entre os elementos*/
  filter: drop-shadow(10xp 10px 10px #000 );
}


#sinopse {
  width: 50%;
  display: flex;/*nesse caso estamos utilizando para adicionar o
   flex-direction*/
  flex-direction: column; /*colocando os elementos em coluna um 
  embaixo do outro*/
  justify-content: space-between;/*espaçamento entre os elementos*/
  margin-left: 30px;/*colocando um espaçamento  da esquerda*/
}

.description {
  font-size: 18px;/*tamanho font (texto)*/
  width: 70%;/*largura*/
}



/* ! FIM MAIN FIM VIDEO
! FOOTER */

.rodape{
  background-color: black;
  text-align: center;
  height: 130px;/*altura*/
  margin-top: 108px;/* espaçamento externo superior */
  display: flex;/*utilizando flex  para poder alinhar os elementos*/
  flex-direction: column;/*colocando os elementos  em coluna*/
  align-items: center;/*alinhando os elementos  no centro verticalmente*/
  justify-content: center;/*alinhando os elementos   no centro horizontalmente*/
  padding: 75px 0;
}

.rodape-imagem {
  height: 90px;
  padding: 12px 0 ;/*superior e inferior direita e esquerda*/
}

.footer-texto {
  color: #ffffff;
  font-size: 14px;
  font-family: "IBM Plex Mono", sans-serif;
}